
 

 

   


<div class="gameframe">
    <div id="namebox" class="headerbox">
        Nameless Hero
    </div>
    <div id="strdexbox" class="headerbox" data-bind="text: 'Strength: ' + character.strength() + ' Dexterity: ' + character.dexterity()">Strength: 0 &nbsp;&nbsp;&nbsp;&nbsp;Dexterity: 0</div>

    <div id="loginbox" class="headerbox">
        <button id="loadgamebutton" style="font-size: 22px; font-weight: bold; width: 290px; height: 26px; font-family: 'Gentium Book Basic'; color: #830000" data-bind="click: loadGame">Enter The Dungeon</button>
    </div>

    <div id="levelbox" class="headerbox" data-bind="text: 'Level ' + character.level() + ' ' + character.characterClass()"></div>
    <div id="intluckbox" class="headerbox" data-bind="text: 'Intelligence: ' + character.intelligence() + ' Luck: ' + character.luck()">Intelligence: 0 &nbsp;&nbsp;&nbsp; Luck: 0</div>
    <div class="headerbox">
        <button id="settingsbutton" style="font-size: 22px; font-weight: bold; width: 145px; height: 26px; font-family: 'Gentium Book Basic'; color: #390101" data-bind="click: settings">Settings</button>
        <button id="aboutbutton" style="font-size: 22px; font-weight: bold; width: 145px; height: 26px; font-family: 'Gentium Book Basic'; color: #390101" data-bind="click: about">About</button>
    </div>


    <div class="statusbarbg">

        <div class="statuscontainer">
            <div id="hpheader" style="font-size: 17px; font-weight: bold; font-family: Aharoni" class="statusbarheader" data-bind="text: 'HP : ' + character.currentHp() + '/' + character.maxHp() "></div>
            <div id="hpbar" class="statusbars hpbar"></div>
        </div>

        <div class="statuscontainer">
            <div id="mpheader" style="font-size: 17px; font-weight: bold; font-family: Aharoni" class="statusbarheader" data-bind="text: 'MP : ' + character.currentMp() + '/' + character.maxMp()"></div>
            <div id="mpbar" class="statusbars mpbar"></div>
        </div>

        <div class="statuscontainer">
            <div id="xpheader" style="font-size: 17px; font-weight: bold; font-family: Aharoni" class="statusbarheader" data-bind="text: 'EXP : ' + character.currentExperience() + '/' + character.experienceNeededToLevel()"></div>
            <div id="xpbar" class="statusbars xpbar"></div>
        </div>

        <div class="statuscontainer">
            <div id="monsterheader" style="font-size: 18px; font-weight: bold; font-family: Aharoni; background: #660000;" class="statusbarheader">MONSTER</div>
            <div id="monsterbar" style="font-size: 18px; font-weight: bold; font-family: Aharoni;" class="statusbars monsterbar"></div>
        </div>
    </div>
    <div class="leftbar">
        <div id="pointbrick" class="bricks" data-bind="text: '+Stat Points: ' + character.bonusStatPoints()"></div>
        <div id="plusstrdexbrick" class="bricks">
            <button id="addstrengthbutton" style="font-size: 17px; font-weight: bold; width: auto; height: 22px; font-family: 'Gentium Book Basic'; color: green" data-bind='click: addStrength'>+Str</button>
            <button id="adddexteritybutton" style="font-size: 17px; font-weight: bold; width: auto; height: 22px; font-family: 'Gentium Book Basic'; color: green" data-bind='click: addDexterity'>+Dex</button>
        </div>
        <div id="plusintluckbrick" class="bricks">
            <button id="addintelligencebutton" style="font-size: 17px; font-weight: bold; width: auto; height: 22px; font-family: 'Gentium Book Basic'; color: green" data-bind='click: addIntelligence'>+Int</button>
            <button id="addluckbutton" style="font-size: 17px; font-weight: bold; width: auto; height: 22px; font-family: 'Gentium Book Basic'; color: green" data-bind='click: addLuck'>+Luck</button>
        </div>

        <div id="autobrick" class="bricks">
            <button id="autobutton" style="font-size: 16px; font-weight: bold; width: auto; height: 22px; font-family: 'Gentium Book Basic'; color: #0026ff" data-bind='click: setAutoPlay'>Autoplay</button>
        </div>

        <div id="popupsbrick" class="bricks">


            <button id="popupsbutton" style="font-size: 14px; width: auto; height: 22px; font-family: 'Gentium Book Basic'; color: #0026ff" data-bind='click: togglePopups'>Item Popups: On</button>

        </div>

        <div id="itemheader" class="bricks"></div>
        <div id="helmetbrick" class="bricks"></div>
        <div id="amuletbrick" class="bricks"></div>
        <div id="weaponbrick" class="bricks"></div>
        <div id="shieldbrick" class="bricks"></div>
        <div id="armorbrick" class="bricks"></div>
        <div id="beltbrick" class="bricks"></div>
        <div id="pantsbrick" class="bricks"></div>
        <div id="bootsbrick" class="bricks"></div>


    </div>
    <div id="mainimageframe" class="monsterbg">
        <img class="dungeonimage" data-bind="attr: { src: gameData.imageUrl }" />
        <img class="monsterimage" data-bind="attr: { src: monster.imageUrl }"/>
    </div>
    <div class="rightbar">
        <div id="floorbrick" class="bricks" data-bind="text: 'Floor ' + character.currentFloor()">Entrance</div>
        <div id="remainingbrick" class="bricks" data-bind="text: 'Monsters Left: ' + gameData.monstersLeftOnFloor()"></div>
        <div class="bricks"></div>
        <div id="itemfindbrick" class="bricks"></div>
        <div id="gamblechancebrick" class="bricks"></div>
        <div id="monsteraccuracybox" class="bricks"></div>
        <div id="dodgechancebox" class="bricks" data-bind="text: 'Dodge Chance: ' + character.dodgeChance() + '%'"></div>
        <div id="dodgenotice" class="bricks"></div>


        <div id="fordamagebrick" class="bricks"></div>
        <div id="elixirbrick" class="bricks" data-bind="text: 'Elixirs: ' + character.elixirs() + '/10'"></div>
        <div id="useelixirbrick" class="bricks">
            <button style="font-size: 17px; font-weight: bold; width: 120px; height: 22px; font-family: 'Gentium Book Basic'; color: purple" data-bind='click: useElixir'>Use Elixir</button>
        </div>

        <div id="goldbrick" class="bricks" data-bind="text: 'Gold: ' + character.gold()"></div>
        <div id="gamblebrick" class="bricks">
            <button style="font-size: 15px; font-weight: bold; width: 120px; height: 22px; font-family: 'Gentium Book Basic'; color: #6f4400" data-bind='click: gamble'>Gamble:10</button>
        </div>
        <div class="bricks">
            <button style="font-size: 15px; font-weight: bold; width: 120px; height: 22px; font-family: 'Gentium Book Basic'; color: #6f4400" data-bind='click: bigGamble'>Big Gamble:1k</button></div>

    </div>

    <div class="attackbuttoncontainer">
        <div class="actionbuttons meleeattackbutton">
            <button style="font-size: 23px; font-weight: bold; width: 222px; height: 32px; font-family: 'Gentium Book Basic'; vertical-align: top; color: #FF6633" data-bind='click: meleeAttack'>Attack</button>
        </div>
        <div class="actionbuttons mpbar">
            <button style="font-size: 23px; font-weight: bold; width: 222px; height: 32px; font-family: 'Gentium Book Basic'; vertical-align: top; color: #3399FF" data-bind='click: magicAttack'>Fireball</button>
        </div>
        <div class="actionbuttons xpbar">
            <button style="font-size: 23px; font-weight: bold; width: 222px; height: 32px; font-family: 'Gentium Book Basic'; vertical-align: top; color: #FFCC33" data-bind='click: rangedAttack'>Stab</button>
        </div>
        <div class="actionbuttons runbutton">
            <button style="font-size: 23px; font-weight: bold; width: 222px; height: 32px; font-family: 'Gentium Book Basic'; vertical-align: top; color: #ff6a00" data-bind='click:game.runAway'>Run</button>
        </div>
    </div>
</div>


<div id="tabs" style="width: 528px; margin: auto; display: block; border: solid black 1px">
    <ul>
        <li><a href="#tabs-1">Helmets</a></li>
        <li><a href="#tabs-2">Weapons</a></li>
        <li><a href="#tabs-3">Amulets</a></li>
        <li><a href="#tabs-4">Shields</a></li>
        <li><a href="#tabs-5">Armor</a></li>
        <li><a href="#tabs-6">Pants</a></li>
        <li><a href="#tabs-7">Belts</a></li>
        <li><a href="#tabs-8">Boots</a></li>
    </ul>
    <div id="tabs-1">
        <ul id="helmet" class="connectedSortable ui-helper-reset">
            <li style="text-align: center" id="helmet1" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="helmet2" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="helmet3" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="helmet4" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="helmet5" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="helmet6" class="ui-state-default">Not Yet Found!</li>
        </ul>
    </div>
    <div id="tabs-2">
        <ul id="weapon" class="connectedSortable ui-helper-reset">
            <li style="text-align: center" id="weapon1" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="weapon2" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="weapon3" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="weapon4" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="weapon5" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="weapon6" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="weapon7" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="weapon8" class="ui-state-default">Not Yet Found!</li>
        </ul>
    </div>
    <div id="tabs-3">
        <ul id="amulet" class="connectedSortable ui-helper-reset">
            <li style="text-align: center" id="amulet1" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="amulet2" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="amulet3" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="amulet4" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="amulet5" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="amulet6" class="ui-state-default">Not Yet Found!</li>
        </ul>
    </div>
    <div id="tabs-4">
        <ul id="shield" class="connectedSortable ui-helper-reset">
            <li style="text-align: center" id="shield1" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="shield2" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="shield3" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="shield4" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="shield5" class="ui-state-default">Not Yet Found!</li>
        </ul>
    </div>
    <div id="tabs-5">
        <ul id="armor" class="connectedSortable ui-helper-reset">
            <li style="text-align: center" id="armor1" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="armor2" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="armor3" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="armor4" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="armor5" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="armor6" class="ui-state-default">Not Yet Found!</li>
        </ul>
    </div>
    <div id="tabs-6">
        <ul id="pants" class="connectedSortable ui-helper-reset">
            <li style="text-align: center" id="pants1" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="pants2" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="pants3" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="pants4" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="pants5" class="ui-state-default">Not Yet Found!</li>
        </ul>
    </div>
    <div id="tabs-7">
        <ul id="belt" class="connectedSortable ui-helper-reset">
            <li style="text-align: center" id="belt1" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="belt2" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="belt3" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="belt4" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="belt5" class="ui-state-default">Not Yet Found!</li>
        </ul>
    </div>
    <div id="tabs-8">
        <ul id="boots" class="connectedSortable ui-helper-reset">
            <li style="text-align: center" id="boots1" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="boots2" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="boots3" class="ui-state-default">Not Yet Found!</li>
            <li style="text-align: center" id="boots4" class="ui-state-default">Not Yet Found!</li>
        </ul>
    </div>
</div>

<div id="itemwindow" class="itemPopup hidden" data-bind='click: removeItemWindow'>
    <h5 id="itemtext"></h5>
    <img id="chestimage" class="chest" src="~/Images/chest.png" data-bind='click: removeItemWindow' />
</div>
<div id="itembg" class="itemPopupBG hidden"></div>

